* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
clearfix:after {
  content: "";
  display: block;
  clear: both;
}

header {
  height: 70px;
  background-color: #ec715f;
}
nav {
  width: 1024px;
  margin: 0 auto;
}
.logo {
  height: 70px;
  float: left;
}
.nav-bar {
  float: right;
}
.nav-list {
  display: inline-block;
  margin: 0 30px;
  font-size: 16px;
  color: #FAFAFA;
  float: left;
  line-height: 70px;
}

.mainvisual {
  width: 100%;
}

.mv {
  height: 650px;
  background-image:url(img/mv.png);
  background-size: cover;
  background-position: center;
}
.mv-title {
  font-size: 64px;
  color: #FAFAFA;
  padding-top: 200px;
  text-align: center;
}
.mv-text {
  font-size: 20px;
  color: #FAFAFA;
  text-align: center;
  padding-top: 10px;
}